@model MissionMattersRound2.Models.Mission

@{
    ViewBag.Title = "Mission";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=@Url.Action("Index", "Home")>Home</a></li>
        <li class="breadcrumb-item"><a href=@Url.Action("Missions", "Home")>Missions</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.missionName)</li>
    </ol>
</nav>

<div class="jumbotron">
    <h2>@Html.DisplayFor(model => model.missionName)</h2>

    <p>The @Html.DisplayFor(model => model.missionName) mission office address is at @Html.DisplayFor(model => model.missionAddress).</p>

    <p>The current Mission President is President @Html.DisplayFor(model => model.missionPresidentName).</p>

    <p>The mission language is @Html.DisplayFor(model => model.language).</p>

    <p>The climate is @Html.DisplayFor(model => model.climate).</p>

    <p>The dominant religion is @Html.DisplayFor(model => model.dominantReligion).</p>

    <img class="center" src="@Html.DisplayFor(model => model.flagSymbol)" width="600" alt="Mission Flag" />

</div>

<div class="jumbotron">
    <table class="table">
        <tr>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
        </tr>


        @foreach (var item in Model.missionQuestions.ToList())
         {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.question)
                </td>
                <td>
                    @if (item.answer != null)
                    {
                        @Html.DisplayFor(model => item.answer)
                    }
                    else
                    {
                        @Html.ActionLink("Answer", "Edit", "Home" , new { id = item.missionQuestionID }, new { })
                    }
                </td>
            </tr>
         }

    </table>
</div>



@Html.ActionLink("New Question", "Create", "Missions")